p:first-child {
    color: red;
}

p:last-child {
    color: green;
}

p:nth-child(3) {
    background-color: blue;
    color: white;
} 

p:first-of-type {
    background-color: orange;
}

p:last-of-type {
    background-color: red;
}

p:nth-of-type(2) {
    text-decoration: underline;
}

li:nth-child(3n) {
    background-color: red;
}